<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head">

</head>
<body>
	<header th:replace="layout/layout :: header"></header>

	<div class="container py-4">

		<div class="card bg-light">
			<div class="card-header" th:text="${titulo}"></div>
			<div class="card-body">

				<hr class="border border-primary">

				<h4 class="card-title">
					<a class="btn btn-primary btn-xs" th:href="@{/pregunta/form}">Resgistro de Preguntas</a>
						
					<a class="btn btn-success btn-xs" th:href="@{/juego/iniciar}">Iniciar Juego</a>	
					
					<a class="btn btn-danger btn-xs" th:href="@{/historia/datos}">Historial de juego</a>		
				</h4>
				
			
			</div>
		</div>
	</div>
	
	
	<footer th:replace="layout/layout :: footer"></footer>

</body>
</html>